<template>
  <div class="about-section">
    <p class="description">{{ description }}</p>

    <p class="subtitle">AUTHORS</p>
    <p v-for="author in authors" :key="author" class="subtext">{{ author }}</p>

    <a
      class="link"
      href="https://linux.ime.usp.br/~stephanie/mac0499/"
      target="_blank"
    >
      More info
    </a>
  </div>
</template>

<script>
import content from '@content/about'

export default {
  data () {
    return {
      description: content.description,
      authors: content.authors,
      url: content.url
    }
  }
}
</script>
<style lang="scss">
.about-section {
  & > .subtitle {
    margin-top: 30px;
    color: $title-color;
    font-weight: 700;
  }

  & > .subtext { margin-top: 10px }

  & > .link {
    display: block;
    margin-top: 30px;
    color: $text-color;
  }
}
</style>
