<template>
  <div :class="['auxiliar-buttons', { 'hidden': isHidden }]">
    <component
      v-for="item in items"
      :is="item"
      class="icon"
      :key="item"
      @click="handleAction(item)"
    />
  </div>
</template>

<script>
import Pin from '@assets/eye.svg'
import Undo from '@assets/back.svg'
import Redo from '@assets/forward.svg'
import { mapActions } from 'vuex'

export default {
  components: { Pin, Undo, Redo },

  data () {
    return {
      items: ['pin', 'undo', 'redo'],
      isHidden: false
    }
  },

  methods: {
    ...mapActions(['undo', 'redo']),

    handleAction(action) {
      this[action]()
    },

    pin () {
      this.isHidden = !this.isHidden
    }
  }
}
</script>


<style lang="scss">
.auxiliar-buttons {
  display: flex;
  padding-right: 10px;
  background: $bar-color;
  border-radius: 8px;
  transform: translateX(0);
  transition: .4s;

  & > .icon {
    height: 18px;
    width: 18px;
    padding: 10px;
    fill: $icon-color;
    cursor: pointer;
  }

  &.hidden {
    transform: translateX(104px);
  }
}
</style>