<template>
  <div class="bar">
    <component
      :is="isHidden ? 'invisible' : 'pin'"
      class="icon"
      @click="$emit('action', 'toggle')"
    />

    <component
      v-for="section in sections"
      :is="section"
      :class="['icon', { 'selected': section === (isHidden ? false : currentSection), [section]: section }]"
      :key="section"
      @click="$emit('action', section)"
    />
    
    <p class="level">{{ level + 1 }}</p>

    <div class="separator" />

    <component
      v-for="action in actions"
      :is="action"
      :class="['icon', { 'selected': action === (isHidden ? false : currentSection), [action]: action }]"
      :key="action"
      @click="$emit('action', action)"
    />

    <div class="separator" />

    <component
      v-for="other in others"
      :is="other"
      :class="['icon', { 'selected': other === (isHidden ? false : currentSection)}]"
      :key="other"
      @click="$emit('action', other)"
    />
  </div>
</template>

<script>
import Pin from '@assets/eye.svg'
import Invisible from '@assets/invisible.svg'
import Layers from '@assets/layers.svg'
import Masks from '@assets/masks.svg'
import Settings from '@assets/settings.svg'
import Export from '@assets/export.svg'
import Save from '@assets/save.svg'
import Load from '@assets/import.svg'
import About from '@assets/about.svg'
import Help from '@assets/help.svg'

import { mapState } from 'vuex'

export default {
  components: { Pin, Invisible, Layers, Masks, Settings, Export, Save, Load, About, Help },

  props: {
    // Whether the section of ToolBar is hidden
    isHidden: Boolean
  },

  data () {
    return {
      sections: ['layers', 'masks'],
      actions: ['save', 'load', 'export'],
      others: ['help', 'about']
    }
  },

  computed: mapState({
    currentSection: state => state.display.section,
    level: state => state.layers.index
  })
}
</script>

<style lang="scss">
.bar {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  background: $bar-color;
  z-index: 5;


  & > .icon {
    height: 20px;
    width: 20px;
    padding: 15px;
    fill: $icon-color;
    cursor: pointer;

    &.selected {
      background: $section-color;
    }

    &.layers {
      padding-left: 21px;
      padding-right: 9px;
    }
  }

  & > .level {
    position: absolute;
    width: 19px;
    top: 67px;
    font-size: 14px;
    text-align: right;
  }

  & > .separator {
    height: 1px;
    margin: 0 5px 5px;
    background: #C5C5C5;
  }
}
</style>
