<template>
  <canvas
    :height="height"
    :width="width"
    class="main-canvas"
  />
</template>

<script>
import { mapState } from 'vuex'

export default {
  computed:  {
    ...mapState({
      width: state => state.display.width,
      height: state => state.display.height,
      layers: state => state.layers.list,
      level: state => state.layers.index,
      isMaskSection: state => state.display.section === 'masks',
      backgroundColor: state => state.layers.backgroundColor
    })
  },

  watch: {
    layers: {
      handler () { this.drawCanvas() },
      deep: true
    },
    level () { this.drawCanvas() },
    isMaskSection () { this.drawCanvas() },
    backgroundColor () { this.drawCanvas() }
  },

  methods: {
    drawCanvas () {
      // get canvas element with id "canvas"
      const el = this.$el
      // set canvas context
      const ctx = el.getContext('2d')

      // reset canvas for re-renderization
      ctx.clearRect(0, 0, this.width, this.height)

      // paint background, if there's one
      if (this.backgroundColor) {
        ctx.fillStyle = this.backgroundColor

        ctx.fillRect(
          0,
          0,
          this.width,
          this.height
        )
      }

      this.layers.forEach((layer, index) => {
        if (!layer.hidden) {
          if (layer.background.list.length) this.drawBackground(ctx, layer.background, index)
          if (layer.masks.list.length) this.drawMasks(ctx, layer, index)
        }
      })
    },

    drawBackground (ctx, lines, level) {
      // initial and final windup
      let initialWindup, finalWindup

      lines.list.some((element, ind) => {
        if (ind === lines.index && this.level !== level) return true
        if (ind > lines.index) return true

        ctx.fillStyle = element.color

        // if there's no distribution set, draw only one line
        if (!element.lineSet.length) {
          initialWindup = this.randomInt()
          finalWindup = this.randomInt()

          ctx.fillRect(
            initialWindup,
            element.y,
            this.width - finalWindup - initialWindup,
            element.thickness
          )
        }

        // else, draw the whole set of lines
        else {
          element.lineSet.forEach(line => {
            initialWindup = this.randomInt()
            finalWindup = this.randomInt()

            ctx.fillRect(
              initialWindup,
              line.y,
              this.width - finalWindup - initialWindup,
              line.thickness
            )
          })
        }

        return false
      })
    },

    drawMasks (ctx, layer, index) {
      const shape = layer.masks.shape
      const lines = layer.foreground

      // find initial y
      let y = this.height
      layer.masks.list.forEach(({ position }) => y = y > position.y ? position.y : y)

      layer.masks.list.forEach(mask => {
        this[shape](ctx, mask, lines, y, index)
      })
    },

    rectangle (ctx, mask, lines, initialY, level) {
      // draw entire mask as black in mask mode
      if (this.isMaskSection && this.level === level) {
        // border
        ctx.fillStyle = '#FFFFFF55'
        ctx.fillRect(
          mask.position.x - 1,
          mask.position.y - 1,
          mask.size.width + 2,
          mask.size.height + 2
        )
        // mask background
        ctx.fillStyle = '#00000055'
        ctx.fillRect(
          mask.position.x,
          mask.position.y,
          mask.size.width,
          mask.size.height
        )
      }

      lines.list.some((line, ind) => {
        if ((ind === lines.index && this.level !== level) ||
            (ind === lines.index && !this.isMaskSection) ||
            (ind > lines.index)) return true

        ctx.fillStyle = line.color

        // if it's a distribution
        if (line.lineSet.length) {
          line.lineSet.find(l => {
            const yRel = l.y + initialY

            if (yRel + l.thickness < mask.position.y) return false
            if (yRel > mask.position.y + mask.size.height) return true

            const y = yRel >= mask.position.y ? yRel : mask.position.y
            const h = l.thickness + yRel > mask.position.y + mask.size.height
              ? mask.position.y + mask.size.height - y
              : l.thickness + yRel - y
            const initialWindup = this.randomInt()

            ctx.fillRect(
              mask.position.x + initialWindup,
              y,
              mask.size.width - initialWindup - this.randomInt(),
              h
            )

            return false
          })
        }

        // else, it's an only line
        else {
          const lineY = line.y + initialY
          
          if (
            (lineY >= mask.position.y && lineY <= mask.position.y + mask.size.height) ||
            (lineY <= mask.position.y && lineY + line.thickness >=  mask.position.y)
          ) {
            const y = lineY >= mask.position.y ? lineY : mask.position.y
            const height = lineY + line.thickness <= mask.size.height + mask.position.y
              ? line.thickness - y + lineY
              : mask.size.height + mask.position.y - lineY
            const initialWindup = this.randomInt()

            ctx.fillRect(
              mask.position.x + initialWindup,
              y,
              mask.size.width - initialWindup - this.randomInt(),
              height
            )
          }
        }

        return false
      })
    },

    randomInt () {
      const n = ~~(Math.random() * (this.width*0.01)) + 1
      return n < 9 ? n : 8
    }
  }
}
</script>

<style lang="scss">
.main-canvas {
  width: 100%;
  height: 100%;
  border: solid black 1px;
}
</style>
