<template>
  <div class="export-container">
    <p class="text">Export the current image in the canvas to a PNG file.</p>
    <button class="submit-button current" @click="exportImage()">current image</button>
    
    <p class="text">Change the lines distribution of the image in the canvas and export it to a PNG file.</p>
    <p class="warning"><span class="attention">*</span>This will modify the current image.</p>
    <button class="submit-button variation" @click="newImage">new variation</button>
    
    <p class="text">Reset the lines distribution of the image in the canvas to its original distribution.</p>
    <p class="warning"><span class="attention">*</span>This will modify the current image.</p>
    <button class="submit-button reset" @click="resetImage">reset</button>
    <p v-if="showWarning" class="warning temporary">There's nothing to reset, this is is the original distribution!</p>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  data () {
    return {
      backup: null,
      showWarning: false
    }
  },

  computed: mapState({
    layers: state => state.layers.list,
    height: state => state.display.height
  }),

  methods: {
    ...mapActions(['newDistribution', 'replaceLayer']),

    newImage () {
      if (!this.backup) this.backup = JSON.stringify(this.layers, null, 2)

      this.layers.forEach((layer, layerInd) => {
        layer.background.list.forEach((line, lineInd) => {
          if (line.lineSet.length) this.newDistribution({ layer: layerInd, line: lineInd, type: 'background' })
        })
        layer.foreground.list.forEach((line, lineInd) => {
          if (line.lineSet.length) this.newDistribution({ layer: layerInd, line: lineInd, type: 'foreground' })
        })
      })

      this.$nextTick(() => this.exportImage('variation.png'))
    },

    exportImage (name) {
      const canvas = document.querySelector('canvas.main-canvas')
      const image = canvas.toDataURL('image/png').replace('image/png', 'image/octet-stream')
      const a = document.createElement('a')

      a.setAttribute('download', name || 'canvas.png')
      a.setAttribute('href', image)
      a.click()
    },

    resetImage () {
      if (this.backup) {
        const layers = JSON.parse(this.backup)
        layers.forEach((layer, index) => this.replaceLayer({ layer, index }))
      }
      else {
        this.showWarning = true
      }
    }
  },

  watch: {
    showWarning (val) {
      if (val) setTimeout(() => this.showWarning = false, 5000)
    }
  }
}
</script>
  

<style lang="scss">
.export-container {
  & > .text { margin: 20px 0 10px }

  & > .warning {
    margin-bottom: 10px;
    font-size: 14px;

    & > .attention { color: #EE1111}

    &.temporary { color: #C32828 }
  }

  & > .submit-button {
    margin-bottom: 10px;

    &.reset { height: 38px }
  }
}
</style>
