<template>
  <div class="layers-container">
    <!-- Header of layers' table -->
    <div class="header">
      <div class="level">LEVEL</div>
      <div class="name">NAME</div>
    </div>

    <!-- Draggable row layers -->
    <draggable
      :list="layers"
      :disabled="!enabled"
      class="list-group"
      ghost-class="ghost"
      @start="dragging = true"
      @end="dragging = false"
    >
      <div
        :class="['list-group-item', { 'selected': index === level }]"
        v-for="(item, index) in layers"
        :key="item.name"
        @click="updateLayerInd(index)"
      >
        <div class="litem">{{ index + 1 }}</div>
        <div class="nitem">{{ item.name }}</div>
        <component
          :is="item.hidden ? 'invisible' : 'visible'"
          class="icon"
          @click.stop="updateVisibility(index)"
        />
        <delete class="icon" @click.stop="removeLayer(index)"/>
      </div>
    </draggable>

    <button class="button" @click="addLayer">+ Add layer</button>

    <color-picker
      title="Background"
      position="bottom"
      target-el=".list-group"
      action="reset"
      v-on="$listeners"
      :current="background"
      @input="val => updateBackground(val.value)"
      @save-color="addColor"
      @edit-color="updateColor"
    />
  </div>
</template>

<script>
import draggable from 'vuedraggable'

import Visible from '@assets/eye.svg'
import Invisible from '@assets/invisible.svg'
import Delete from '@assets/delete.svg'
import ColorPicker from '@components/common/ColorPicker'

import { mapActions, mapState } from 'vuex'

export default {
  components: {
    draggable,
    Delete,
    ColorPicker,
    Visible,
    Invisible
  },

  data() {
    return {
      order: 0,
      enabled: true,
      colorPicker: false,
      dragging: false
    }
  },

  computed: {
    ...mapState({
      layers: state => state.layers.list,
      level: state => state.layers.index,
      background: state  => state.layers.backgroundColor
    })
  },

  methods: {
    ...mapActions([
      'addLayer',
      'removeLayer',
      'updateLayerInd',
      'updateBackground',
      'addColor',
      'updateColor',
      'updateVisibility'
    ]),

    showColorPicker () {
      this.colorPicker = !this.colorPicker
    },
  }
}
</script>

<style lang="scss">
.layers-container {
  max-height: calc(100% - 416px);
  margin-right: -13px;
  padding-right: 3px;
  overflow-y: scroll;

  & > .header {
    display: grid;
    grid-template-columns: 35% auto;
    grid-template-areas: "level" "name";
    grid-template-rows: 26px;
    background-color: #C8C8C8;
    color: #47525E;
    align-items: center;
    & .level { justify-self: center }
  }

  & > .list-group > .list-group-item {
    display: grid;
    grid-template-columns: 35% auto 30px 30px;
    grid-template-rows: 26px;
    grid-template-areas: "level" "name" "icon" "icon";
    background-color: white;
    align-items: center;

    &.selected {
      background: #E0E0E0;
      font-weight: 700;
    }

    & > .litem {
      font-size: $value-font-size;
      justify-self: center;
    }

    & > .nitem {
      display: inline-flex;
      justify-content: space-between;
      font-size: $value-font-size;
    }

    & > .icon {
      width: 18px;
      height: 18px;
      justify-self: center;
      &:hover { cursor: pointer }

      &.backBox { border: 1px solid black }
    }
  }

  & > .ghost {
    opacity: 0.5;
    background: #c8ebfb;
  }

  & > .button {
    width: 100%;
    height: 28px;
    background-color: white;
    text-align: center;
    border: 1px solid gray;
    font-size: $value-font-size;
  }

  & > .color-picker { padding-top: 25px }
}
</style>
