<template>
  <div class="lines">
    <p class="title">LINES</p>

    <form class="settings" @submit.prevent="submit">
      <parameter
        v-for="(param, name) in params"
        :key="name"
        :title="param.title"
        :fields="param.fields"
        :values="line"
        :reset-index="updateColorIndex"
        :row="param.row"
        :target-el="param.targetEl"
        @input="val => updateLine({ name: val.name, value: val.value })"
        @refresh="newDistribution"
        @save-color="addColor"
        @edit-color="updateColor"
        @color-index="updateColorIndex"
      />

      <input
        id="submit"
        class="submit-button"
        type="submit"
        value="FIX LINE"
      />
    </form>
  </div>
</template>

<script>
import Parameter from '@components/common/Parameter'
import parameters from '@content/line'
import { mapState, mapGetters, mapActions } from 'vuex'

export default {
  data() {
    return {
      collapsed: false,
      updateColorIndex: 0
    }
  },

  components: { Parameter },

  computed: {
    ...mapState({
      level: state => state.layers.index,
      section: state => state.display.section
    }),

    ...mapGetters(['line']),

    params () {
      const targetEl = this.section === 'layers' ? '.list-group' : '.content'
      
      return { ...parameters, color: { ...parameters.color, targetEl } }
    }
  },

  methods: {
    ...mapActions([
      'updateLine',
      'newDistribution',
      'addLine',
      'addColor',
      'updateColor'
    ]),

    submit () {
      this.addLine()
      this.updateColorIndex = 1 - this.updateColorIndex
    }
  }
}
</script>

<style lang="scss">
.lines {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;

  & > .title {
    margin-bottom: 20px;
    color: $title-color;
    font-size: 24px;
    font-weight: 700;
  }

  & > .settings {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
}
</style>
