<template>
  <div class="masks-container">
    <div class="content">
      <!-- for now, there is only the rectangle shape -->
      <!-- <shape-selector
        name="shape"
        is-title
        :label="shapes.label.toUpperCase()"
        :type="shapes.type"
        :options="shapes.options"
        :value="shape"
        @input="({ value }) => updateMaskShape(value)"
      /> -->

      <settings
        v-for="mask in masks"
        :key="`mask-${mask.id}`"
        :params="params"
        :values="mask"
        @input="updateMask"
        @delete="deleteMask"
      />

      <button v-if="shape" class="submit-button" @click="addMask">New mask</button>
    </div>
  </div>
</template>

<script>
import ShapeSelector from '@components/common/Field'
import Settings from '@components/masks/Settings'

import mask from '@content/mask'

import { mapState, mapActions } from 'vuex'

export default {
  components: { ShapeSelector, Settings },

  props: {
    // Mask to be set from mouse coordinates
    maskFromMouse: Object,

    // Whether a new mask is being set with mouse
    setMask: Boolean,

    // Mouse current coordinates
    mouse: Object
  },

  data () {
    return {
      shapes: mask.type
    }
  },

  computed: {
    ...mapState({
      masks: state => state.layers.list[state.layers.index].masks.list,
      shape: state => state.layers.list[state.layers.index].masks.shape
    }),

    params () {
      return mask[this.shape]
    }
  },

  methods: mapActions(['updateMaskShape', 'addMask', 'updateMask', 'deleteMask', 'fixSize']),

  watch: {
    maskFromMouse: {
      handler (val) {
        if (this.shape) {
          if (val.x) {
            this.addMask()

            const id = this.masks[this.masks.length - 1].id
            const param = 'position'

            this.updateMask({ id, param, name: 'x', value: val.x })
            this.updateMask({ id, param, name: 'y', value: val.y })
          }
          else {
            const mask = this.masks[this.masks.length - 1]

            if (mask.size.width < 0 || mask.size.height < 0) this.fixSize(mask.id)
          }
        }
      },
      deep: true
    },

    mouse: {
      handler (val) {
        if (this.shape && this.maskFromMouse.x) {
          const id = this.masks[this.masks.length - 1].id
          const param = 'size'

          this.updateMask({ id, param, name: 'width', value: val.x - this.maskFromMouse.x })
          this.updateMask({ id, param, name: 'height', value: val.y - this.maskFromMouse.y })
        }
      },
      deep: true
    }
  }
}
</script>

<style lang="scss">
.masks-container {
  max-height: calc(100% - 416px);
  margin-right: -13px;
  padding-right: 3px;
  overflow-y: scroll;

  & > .content > .submit-button { margin-top: 10px }
}
</style>
