<template>
  <div class="je-presentation">
    <img class="logo" src="../../public/favicon.png">
    
    <p class="text">A tool for computer art</p>
  </div>
</template>

<style lang="scss">
.je-presentation {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  & > .logo {
    width: 200px;
    height: 200px;
  }

  & > .text {
    font-size: 40px;
    color: black;
  }
}
</style>