<template>
  <div class="section">
    <p class="coordinates">x: {{ mouse.x }} y: {{ mouse.y }}</p>

    <p class="title">{{ title }}</p>

    <component :is="section" v-bind="$attrs" :mouse="mouse" />

    <div class="separator" v-if="isDouble" />

    <lines v-if="isDouble" />
  </div>
</template>

<script>
import { mapState } from 'vuex'
import Masks from '@containers/Masks'
import Settings from '@containers/Settings'
import Layers from '@containers/Layers.vue'
import Lines from '@containers/Lines.vue'
import Export from '@containers/Export.vue'
import About from '@containers/About.vue'

export default {
  components: { Masks, Settings, Layers, Lines, Export, About },

  props: {
    // Current mouse coordinates
    mouse: Object
  },

  computed: {
    ...mapState({
      section: state => state.display.section
    }),

    title () {
      return this.section.toUpperCase()
    },

    isDouble () {
      return this.section === 'masks' || this.section === 'layers'
    }
  }
}
</script>

<style lang="scss">
.section {
  height: calc(100vh - 30px);
  padding: 15px;
  background: $section-color;

  & > .title {
    margin-bottom: 20px;
    color: $title-color;
    font-size: 24px;
    font-weight: 700;
  }

  & > .separator {
    margin: 20px 0;
    height: 1px;
    background: #C5C5C5;
  }

  & > .coordinates {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1px;
    background: white;
    font-size: 14px;
  }
}
</style>
