<template>
  <div class="resolution-settings">
    <resolution :values="values" @input="updateResolution" />

    <button class="submit-button" @click="updateSection('layers')">Create canvas</button>
  </div>
</template>

<script>
import Resolution from '@components/settings/Resolution'

import { mapState, mapActions } from 'vuex'

export default {
  components: { Resolution },

  computed: mapState({
    values: state => ({ width: state.display.width, height: state.display.height })
  }),

  methods: mapActions(['updateSection', 'updateResolution'])
}
</script>

<style lang="scss">
.resolution-settings > .submit-button {
  margin-top: 20px;
}
</style>
