<template>
  <div class="toolbar">
    <menu-bar :is-hidden="isHidden" @action="handleAction" />

    <menu-section :class="['section', { 'hidden': isHidden }]" v-bind="$attrs" />
  </div>
</template>

<script>
import MenuBar from '@containers/Bar'
import MenuSection from '@containers/Section'
import about from '@content/about'

import { mapActions, mapState } from 'vuex'

export default {
  components: { MenuBar, MenuSection },

  data() {
    return { isHidden: false }
  },

  computed: mapState({
    layers: state => state.layers,
    width: state => state.display.width,
    height: state => state.display.height
  }),

  methods: {
    ...mapActions(['updateSection', 'replaceState', 'replaceResolution']),

    handleAction (name) {
      if (name === 'save') this.saveFile()
      else if (name === 'load') this.loadFile()
      else if (name === 'toggle') this.toggleSection()
      else if (name === 'help') window.open(about.url + 'user_manual.pdf','_blank')
      else this.updateSection(name)
    },

    toggleSection () {
      this.isHidden = !this.isHidden
    },

    saveFile () {
      const layers = this.layers
      const resolution = { width: this.width, height: this.height }
      const data = JSON.stringify({ layers, resolution }, null, 2)
      const blob = new Blob([data], {type: 'text/plain'})
      const a = document.createElement('a')

      a.download = 'params.json'
      a.href = window.URL.createObjectURL(blob)
      a.dataset.downloadurl = ['text/json', a.download, a.href].join(':')
      a.click()
    },

    loadFile () {
      const i = document.createElement('input')
      i.type = 'file'
      i.click()

      i.onchange = () => {
        const reader = new FileReader()
        const file = i.files[0]

        reader.readAsBinaryString(file)
        reader.onloadend = () => {
          const result = JSON.parse(reader.result)

          this.replaceResolution(result.resolution)
          this.$nextTick(() => this.replaceState(result.layers))
        }
      }
    }
  }
}
</script>

<style lang="scss">
.toolbar {
  display: flex;
  height: 100vh;

  & > .section {
    transform: translateX(0);
    width: 260px;
    transition: transform .4s, width .4s;
    
    & > * {
      opacity: 1;
      transition: opacity .4s;
    }

    &.hidden {
      transform: translateX(-290px);
      width: 0;
      padding: 0;

      & > * { opacity: 0 }
    }
  }
}
</style>
