<template>
  <div class="mask-settings">
    <div class="header" @click="expanded = !expanded">
      <p class="title">MASK {{ `${values.id}` }}</p>

      <delete class="icon trash" @click.stop="$emit('delete', values.id)" />
      <component :is="expanded ? 'up-arrow' : 'down-arrow'" class="icon expand" />
    </div>

    <div :class="['content', { 'show': expanded }]">
      <parameter
        v-for="(param, name) in params"
        :key="name"
        :title="param.title"
        :fields="param.fields"
        :values="values[name]"
        :row="!!param.row"
        @input="val => $emit('input', { ...val, id: values.id, param: name })"
      />
    </div>
  </div>
</template>


<script>
import Delete from '@assets/delete.svg'
import DownArrow from '@assets/down-arrow.svg'
import UpArrow from '@assets/up-arrow.svg'

import Parameter from '@components/common/Parameter'

export default {
  components: { Delete, DownArrow, UpArrow, Parameter },

  props: {
    // Object with params of the mask shape
    params: Object,

    // Object with the values of each mask
    values: Object
  },

  data () {
    return {
      expanded: true 
    }
  }
}
</script>

<style lang="scss">
.mask-settings {
  padding: 5px;
  margin-top: 10px;
  background: $bar-color;
  border-radius: 3px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  & > .header {
    display: grid;
    grid-template-columns: auto 30px 30px;
    grid-template-areas: "title trash expand";
    cursor: pointer;
    background: $bar-color;
    align-items: center;

    & > .title {
      grid-area: title;
      color: $title-color;
      font-size: 16px;
      font-weight: 700;
    }

    & > .icon {
      justify-self: center;
      align-self: center;
      height: 20px;
      width: 20px;
      fill: $title-color;

      &.trash { grid-area: trash }
      &.expand { grid-area: expand }
    }
  }

  & > .content {
    display: none;
    position: relative;
    margin-top: 0;

    &.show {
      display: block;
      margin-top: 10px;
    }
  }
}
</style>