<template>
  <div class="color-picker">
    <p v-if="title" class="title">{{ title.toUpperCase() }}</p>

    <field
      :class="['field', { 'no-title': !title }]"
      :style="{ 'z-index': showPicker ? 100 : 0 }"
      name="color"
      type="text"
      emitEvent
      :value="current"
      :action="action"
      v-on="$listeners"
      @focus="showPicker = true"
      @reset="$emit('input', { name: 'color', value: '' }); colorIndex = -1"
    />
 
    <div v-if="showPicker" class="modal" @click.self="showPicker = false">
      <vue-color class="color-picker" v-model="value" :style="style" />
    </div>

    <div class="saved-colors">
      <div
        v-for="(color, ind) in savedColors"
        class="color"
        :style="{ 'background': color }"
        :key="ind"
        @click="selectColor(ind)"
      >
        <div v-if="colorIndex === ind" class="selected"/>
      </div>

      <button class="color btn" type="button" @click="saveColor">
        +
      </button>
    </div>
  </div>
</template>

<script>
import { Chrome } from 'vue-color'
import Field from '@components/common/Field'

import { mapState } from 'vuex'

export default {
  components: {
    Field,
    VueColor: Chrome
  },

  props: {
    // Current hexadecimal value of the color
    current: {
      type: String,
      required: true
    },

    // Title of the field
    title: String,

    // Action of the field
    action: String,

    // Flag that changes when color index should be reset 
    resetIndex: Number,

    // Position of the ColorPicker
    position: {
      type: String,
      default: 'top'
    },

    // Target element to observe for ColorPicker position recalculation
    targetEl: String
  },

  data () {
    return {
      colorIndex: -1,
      showPicker: false,
      observer: null,
      top: 0,
      left: 85
    }
  },

  computed: {
    ...mapState({
      savedColors: state => state.layers.colors.list,
      currentSection: state => state.display.section
    }),

    style () {
      return {
        top: this.top + 'px',
        left: this.left + 'px'
      }
    },

    value: {
      get () {
        return this.current
      },
      set (val) {
        const hex = this.hexOpacity(val.hex, val.a)

        this.$emit('input', { name: 'color', value: hex })

        if (this.colorIndex >= 0)
          this.$emit('edit-color', { index: this.colorIndex, color: hex })
      }
    }
  },

  methods: {
    selectColor (ind) {
      this.colorIndex = this.colorIndex === ind ? -1 : ind
      this.$emit('input', { name: 'color', value: this.savedColors[ind] })
    },

    saveColor () {
      this.colorIndex = -1
      this.$emit('save-color', this.value)
    },

    getHexadecimal (n) {
      if (n < 10) return n

      const letters = ['A', 'B', 'C', 'D', 'E', 'F']
      return letters[n - 10]
    },

    hexOpacity (color, a) {
      const val = Math.floor(a*255)
      const hex = `${color}${this.getHexadecimal(Math.floor(val/16))}${this.getHexadecimal(val%16)}`

      return hex
    },

    setPosition () {
      const el = this.$el.querySelector('.saved-colors').getBoundingClientRect()

      this.top = this.position === 'top' ? el.top - 225: el.bottom - 10
    },

    setObserver () {
      if (this.targetEl) {
        const el = document.querySelector(`.${this.currentSection}-container > ${this.targetEl}`)
        this.observer = new MutationObserver(this.setPosition)
        this.observer.observe(el, { childList: true })
      }
    },

    tabAndEnterHandler (ev) {
      if (this.showPicker && (ev.keyCode === 9 || ev.keyCode === 13)) this.showPicker = false
    }
  },

  watch: {
    resetIndex () {
      this.colorIndex = -1
    },

    currentSection () {
      this.colorIndex = -1
      this.setPosition()

      if (this.observer) {
        this.observer.disconnect()
        this.setObserver()
      }
    }
  },

  mounted () {
    this.$nextTick(this.setPosition)

    window.addEventListener('resize', this.setPosition)
    window.addEventListener('keydown', this.tabAndEnterHandler)

    this.setObserver()
  },

  beforeDestroy () {
    window.removeEventListener('resize', this.setPosition)
    window.removeEventListener('keydown', this.tabAndEnterHandler)
    if (this.observer) this.observer.disconnect()
  }
}
</script>

<style lang="scss">
.color-picker {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;

  & > .title {
    align-self: flex-start;
    font-size: $parameter-font-size;
    color: $parameter-color;
    margin-bottom: -2px;
  }

  & > .field {
    margin-top: -20px;
    justify-content: flex-end;

    & > .label { display: none }
    & > .input-wrapper > .input { width: 80px }
    &.no-title > .input-wrapper > .input { width: 102px }
  }

  & > .modal {
    position: fixed;
    top: 0;
    left: -50px;
    width: 100vw;
    height: 100vh;
    z-index: 10;

    & > .color-picker {
      position: relative;
      padding: 15px;
      z-index: 100;
      box-shadow: none;
      background-color: #0000;

      & > .vc-chrome-body {
        width: 194px;
        padding: 16px 15px 12px;
        border: 1px solid lightgray;
        border-top: none;
      }

      & > .vc-chrome-body > .vc-chrome-fields-wrap { display: none }
    }
  }

  & > .saved-colors {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    z-index: 100;

    & > .color {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 18px;
      height: 18px;
      margin: 10px 5px 0;
      border: 1px solid #aaa;
      border-radius: 15px;
      cursor: pointer;

      &.btn {
        width: 20px;
        height: 20px;
        color: darkgray;
      }

      & > .selected {
        width: 5px;
        height: 5px;
        margin: 0;
        border: 1px solid white;
        border-radius: 15px;
        background: black;
      }
    }
  }
}
</style>
