<template>
  <div class="parameter-field">
    <label :class="['label',  {'title': isTitle}]">{{ label }}</label>

    <div class="input-wrapper">
      <select
        v-if="type === 'select'"
        class="input select"
        :value="value"
        @input="handleInput"
      >
        <option selected />
        <option v-for="option in options" :key="option">{{ option }}</option>
      </select>

      <input
        v-else
        class="input text"
        :type="type"
        :value="value"
        @input="handleInput"
        @focus="emitAnEvent('focus')"
      >

      <div
        v-if="name === 'color'"
        class="color-preview"
        :style="{ background: value}"
        @click="emitAnEvent('focus')"
      />

      <component
        v-if="action"
        :is="action"
        type="button"
        :class="['icon', action]"
        @click="$emit(action)"
      />
    </div>
  </div>
</template>


<script>
import Refresh from '@assets/refresh.svg'
import Reset from '@assets/cross.svg'

export default {
  components: { Refresh, Reset },

  props: {
    // Label text
    label: String,

    // Name of the field
    name: {
      type: String,
      required: true
    },

    // Type of the field
    type: {
      type: String,
      required: true
    },

    // Options for the select field
    options: Array,

    // Current value of the field
    value: {
      type: [String, Number],
      required: true
    },

    // Whether the label is actually a title
    isTitle: Boolean,
    
    // Name of the action that is going to be emitted when clicked
    action: String,

    // Whether the field is going to emit events of focus
    emitEvent: Boolean
  },

  methods: {
    handleInput (event) {
      this.$emit('input', { value: event.target.value, name: this.name })
    },

    emitAnEvent (name) {
      if (this.emitEvent) this.$emit(name)
    }
  }
}
</script>

<style lang="scss">
.parameter-field {
  display: flex;
  align-items: center;

  & > .label {
    width: 106px;
    min-width: 106px;
    max-width: 106px;
    padding-left: 20px;
    font-size: $value-font-size;
    color: $field-color;

    &.title {
      font-size: $field-font-size;
      padding-left: 0px;
    }
  }

  & .input-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;

    & > .input  {
      max-width: 134px;
      border: solid 1px LightGray;
      border-radius: .3em;
      border: 1px solid #aaa;
      background-color: white;
      font-size: $value-font-size;
      color: $value-color;

      &.text {
        height: 18px;
        width: 59px;
        padding: 1px 3px;
      }

      &.select {
        width: 100%;
        height: 22px;
        background-color: white;
      }
    }

    & > .icon {
      width: 20px;
      height: 20px;
      padding-left: 5px;
      fill: $text-color;

      &:hover {
        fill: #000;
        cursor: pointer;
      }

      &.reset {
        width: 12px;
        height: 12px;
        padding-right: 2px;
      }
    }

    & > .color-preview {
      height: 20px;
      width: 20px;
      min-width: 20px;
      margin-left: 2px;
      border: 1px solid lightgray;
      border-radius: .3em;
    }
  }
}

</style>
