<template>
  <div :class="['parameter', { 'row': row }]">
    <p class="title">{{ title.toUpperCase() }}</p>

    <div
      v-for="(field, name) in fields"
      :key="name"
      class="field-wrapper"
    >
      <field
        v-if="field.type!=='color'"
        :label="field.label"
        :type="field.type"
        :options="field.options"
        :action="field.action"
        :name="name"
        :value="values[name]"
        :title="title"
        v-on="$listeners"
      />

      <color-picker
        v-else
        :current="values.color"
        :title="field.title"
        :target-el="targetEl"
        v-on="$listeners"
        v-bind="$attrs"
      />
    </div>

  </div>
</template>

<script>
import Field from '@components/common/Field'
import ColorPicker from '@components/common/ColorPicker'

export default {
  components: {
    Field,
    ColorPicker,
  },

  props: {
    // Title of the parameter
    title: String,

    // Object of fields of the parameter
    fields: Object,

    // Object of values of each field
    values: Object,

    // Whether the fields will be placed in the same row
    row: Boolean,

    // The element target for the color picker
    targetEl: String
  },

}
</script>

<style lang="scss">
.parameter {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;

  &:last-child {margin-bottom: 0px;}

  & > .title {
    font-size: $parameter-font-size;
    color: $parameter-color;
  }

  & > .field-wrapper { margin-bottom: 5px; }

  &.row {
    display: grid;
    grid-template-columns: auto 63px 63px;
    grid-column-gap: 4px;
    align-items: center;

    & > .title { font-size: $value-font-size }

    & > .field-wrapper {
      margin-bottom: 0;

      & > .parameter-field {
        flex-flow: row nowrap;
        justify-content: flex-end;

        & > .label {
          padding-left: 0;
          width: 10px;
          min-width: 10px;
          max-width: 10px;
          text-align: right;
        }
        & > .input-wrapper > .input {
          width: 42px;
          margin: 0 0 0 2px;
        }
      }
    }
  }
}
</style>
