<template>
  <div id="app">
    <presentation v-if="showPresentation" />
    <template v-else>
      <tool-bar
        :mouse="mouse"
        :mask-from-mouse="mask"
      />

      <main-canvas
        :style="{ width: `${canvasW}px`, height: `${canvasH}px` }"
        @mousemove.native="updateCoordinates"
        @mousedown.native="saveCoordinates"
        @mouseup.native="mask.x = null"
      />

      <auxiliar-buttons class="aux-btns" />
    </template>
  </div>
</template>

<script>
import Presentation from '@containers/Presentation.vue'
import ToolBar from '@containers/ToolBar.vue'
import MainCanvas from '@containers/Canvas.vue'
import AuxiliarButtons from '@containers/AuxiliarButtons.vue'

import { mapState } from 'vuex'

export default {
  name: 'app',

  components: {
    ToolBar,
    AuxiliarButtons,
    MainCanvas,
    Presentation
  },

  data () {
    return {
      canvasW: 0,
      canvasH: 0,
      observer: null,
      mouse: { x: 0, y: 0 },
      mask: { x: 1, y: 0 },
      showPresentation: true
    }
  },

  computed: mapState({
    resolutionW: state => state.display.width,
    resolutionH: state => state.display.height,
  }),
  
  methods: {
    getCanvasDimensions () {
      const section = this.$el.querySelector('.toolbar > .section').getBoundingClientRect()
      const width = window.innerWidth - section.width - 52
      const height = window.innerHeight - 2
      const ratio = width/height
      const resolutionRatio = this.resolutionW/this.resolutionH
      let operation

      if ((ratio > 1 && resolutionRatio > ratio) ||
          (ratio < 1 && resolutionRatio < ratio) ||
          ratio == 1) operation = 'max'
      else operation = 'min'
      
      const baseValue = ratio === 1
        ? Math[operation](this.resolutionW, this.resolutionH)
        : Math[operation](width, height)
      
      if (baseValue === width || baseValue === this.resolutionW) {
        this.canvasW = width
        this.canvasH = width*this.resolutionH/this.resolutionW
      }

      else {
        this.canvasW = height*this.resolutionW/this.resolutionH
        this.canvasH = height
      }
    },

    calculateCoordinates (x, y) {
      const el = this.$el.querySelector('.main-canvas').getBoundingClientRect()
      const xRatio = (this.resolutionW + 2)/el.width
      const yRatio = (this.resolutionH + 2)/el.height

      return { x: x >= 0 ? Math.round(x*xRatio) : 0, y: y >= 0 ? Math.round(y*yRatio) : 0 }
    },

    updateCoordinates (ev) {
      this.mouse = this.calculateCoordinates(ev.offsetX, ev.offsetY)
    },

    saveCoordinates (ev) {
      this.mask = this.calculateCoordinates(ev.offsetX, ev.offsetY)
    }
  },

  watch: {
    resolutionW () { this.getCanvasDimensions() },
    resolutionH () { this.getCanvasDimensions() }
  },

  mounted () {
    setTimeout(() => {
      this.showPresentation = false

      this.$nextTick(() => {
        this.getCanvasDimensions()
        const el = this.$el.querySelector('.toolbar > .section')
    
        window.addEventListener('resize', this.getCanvasDimensions)
        this.observer = new MutationObserver(() => setTimeout(this.getCanvasDimensions, 400))
        this.observer.observe(el, { attributes: true })
      })
    }, 1700)
  },

  beforeDestroy () {
    window.removeEventListener('resize', this.getCanvasDimensions)
    this.observer.disconnect()
  }
}
</script>

<style lang="scss">
#app {
  & > .aux-btns {
    position: fixed;
    z-index: 10;
    top: 15px;
    right: -10px;
  }
}
</style>