// Variables
$bar-color: #E0E0E0;
$section-color: #F0F0F0;
$title-color: #47525E;
$text-color: #47525E;

$button-color: #FFF;
$button-background-color: #5A6978;

$tag-color: #E0E0E0;
$tag-selected-color: #C0C0C0;

$parameter-font-size: 16px;
$parameter-color: #47525E;

$field-font-size: 16px;
$field-color: #47525E;

$value-font-size: 14px;
$value-color: #000;

$icon-color: #48535F;

// General style
#app {
  display: flex;
  flex-flow: row nowrap;
  font-family: Arial, Helvetica, sans-serif;
}

body, #app {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

p, span {
  margin: 0;
  color: $text-color;
}

button, input[type="submit"], input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}

::-webkit-scrollbar { width: 10px }

::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 15px;
  background-color: rgb(150, 150, 150);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

button.submit-button, input.submit-button {
  bottom: 30px;
  height: 50px;
  width: 100%;
  font-size: 20px;
  color: white;
  background-color: $button-background-color;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  &:hover {
    background-color: $button-background-color;
    opacity: 0.6;
  }
}
