<template>
  <div class="resolution-options">
    <p class="title">{{ title }}</p>

    <div class="options-list">
      <p
        v-for="(option, name) in options"
        :key="name"
        :class="['option', { 'selected': option.width === width && option.height === height }]"
        @click="emitValues(option)"
      >
        {{ option.name }}
      </p>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    // Title of the options
    title: String,

    // Object with the options names and values
    options: Object,

    // Values of the current width and height 
    values: Object
  },

  computed: {
    height () {
      return this.values.height
    },
    width () {
      return this.values.width
    }
  },

  methods: {
    emitValues (option) {
      this.$emit('input', { name: 'width', value: option.width })
      this.$emit('input', { name: 'height', value: option.height })
    }
  }
}
</script>

<style lang="scss">
.resolution-options {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-bottom: 10px;

  & > .title {
    margin-bottom: 10px;
    font-size: 14px;
  }

  & > .options-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5px;

    & > .option {
      padding: 3px 7px;
      margin-left: 5px;
      border-radius: 10px;
      font-size: 11px;
      background: $tag-color;
      cursor: pointer;

      &.selected { background: $tag-selected-color }
    }
  }
}
</style>
