<template>
  <div class="resolution-settings">
    <parameter
      :title="parameter.title"
      :fields="parameter.fields"
      :values="values"
      name="resolution"
      :row="parameter.row"
      v-on="$listeners"
    />

    <options
      v-for="(option, name) in options"
      :key="name"
      :title="option.title"
      :options="option.values"
      :values="values"
      v-on="$listeners"
    />
  </div>
</template>

<script>
import Parameter from '@components/common/Parameter'
import Options from '@components/settings/Options'
import settings from '@content/settings'

export default {
  components: { Parameter, Options },

  props: {
    // Values of the current width and height 
    values: Object
  },

  data () {
    return {
      parameter: settings.resolution.parameter,
      options: settings.resolution.options
    }
  }
}
</script>
